  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Pridi:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');



  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }


  :root{

    --color-bg1:#000ea8;
    --color-bg2:#000647;
    --color-text2:#000647;
    --color-bg3:#000214;
    --color-bg4:#eb0000;
    --color-text:#7a0000;
    --color-white:#fff;
    --color-offWhite:rgb(168, 161, 161);
    --color-black:rgb(7, 6, 6);

    --transition: all 0.6s ease;


  }
  body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    color: var(--color-text2);
    background: linear-gradient(rgba(35, 55, 93, 0), rgba(35, 55, 93, 0)), url(/body-bg/Sprinkle.svg);
  }


  body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-margin: 2rem;
  }

  

  section{
    padding: 5rem 0;

  }
  h1, h2, h3, h4, h5{
    color: var(--color-bg2);
  }
  p{
    color: var(--color-text2);
    font-size: 0.9rem;
  }

  .highlight{
    color: var(--color-text);
  }

  a{
    text-decoration: none;
    cursor: pointer;
  }

  img{
    width: 100%;
    display: block;
    object-fit: cover;
    
  }

  .btn-small  {
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    padding: 0.7rem 0.9rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }

  .btn-small:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white); 
   }


  .btn{
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }
  
  .btn:hover{
   background: transparent;
   color: var(--color-white);
   border-color: var(--color-white); 
  }


  
  .btn-primary{
    background: var(--color-bg4);
    color: var(--color-white);
    
  }

  .btn-primary:hover{
    border-color: var(--color-bg4);
    color: var(--color-bg4);
  }
  .btn-secondary{
  background: var(--color-bg1);
  color: var(--color-white);
  border-color: var(--color-bg1);
  border: 1px solid var(--color-bg1);
  }

  .btn-outline{
    color: var(--color-black);
    background: transparent;
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 0.5rem;
  }

  .btn-outline:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white); 
  }

  .btn-outline-secondary{
    background: transparent;
    color: var(--color-bg4);
    border-color: var(--color-bg4);
  }

  .btn-outline-secondary:hover{
    background: var(--color-bg4);
    color: var(--color-white);
    border-color: var(--color-bg4);
  }

  .icon-lg{
    font-size: 2.5rem;
  }

  .icon-md{
    font-size: 1.7rem;
  }

  .icon-sm{
    font-size: 1.2rem;
  }

  .window-scroll{
    background: var(--color-text2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }  

  /* ====== NAVBAR =========== */

  nav{
    position: fixed;
    background: var(--color-bg3);
    top: 0;
    height: 5rem;
    z-index: 99;
    
  }

  .navbar-brand{
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 600;
    margin-right: 5rem;
  }

  .navbar-nav{
    display: flex;
    gap: 1rem;
  }

  .navbar-nav :nth-child(1) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(1) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav :nth-child(2) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(2) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav :nth-child(3) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(3) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav :nth-child(4) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(4) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav :nth-child(5) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(5) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav :nth-child(6) a{
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    transition: var(--transition);
  }

  .navbar-nav :nth-child(6) a:hover{
    color: var(--color-bg1);
  }

  .navbar-nav .nav-item .dropdown-menu{
    background: var(--color-bg3);
    border-radius: 2px;
  }

  

  
  
  


  /* ===== HEADER ====== */

#header{
  background-image: url(/bg/bg5.jpg);
  position: relative;
  width: 100vw;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}


.header_icons{
  position: fixed;
  background: var(--color-bg1);
  width: 3.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0.6rem  0.3rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  top: 40%;
  right: 0;
  z-index: 100;
  
}

.header_icons a{
  font-size: 1.7rem;
  margin: 0;
  padding: 0;
  color: var(--color-white);
  transition: var(--transition);
}
.header_icons a:hover{
  color: var(--color-bg4);
}

.header_container{
  padding-top: 9rem;
}

.header_text{
  text-align: start;
  width:30rem ;
  background: rgba(255, 255, 255, 0.13);
  padding-bottom: 2rem;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(1px);
}

.header_text h1{
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(
        to right,
        #9c0000 20%,
        #000ea8 30%,
        #000ea8 70%,
        #fff 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}


.header_text p{
  font-size: 1.1rem;
  font-weight: 600;
  font-family: 'Lobster Two', cursive;

}

.header_text a{
  margin-right: 1rem;
}

/* ====== ABOUT ======= */

.about_container{
  padding: 1.5rem;
  background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.about_left-text h1{
  font-weight: 700;

}

.about_right .row .col .card{
  background: transparent;
  box-shadow: 0 0 13px #00064752;
  padding: 1rem;
}
.card-top {
  text-align: center;
}
.card-bottom h4{
  font-size: 1.2rem;
  margin: 0.7rem 0;
}


/* ===== FEATURE1 */

#feature1{
  position: relative;
  
}

#feature1::before{
  content: "";
  width: 34%;
  height: 93%;
  background: var(--color-bg1);
  position: absolute;
  top: 2rem;
  left: 7rem;
  border-bottom-right-radius: 2rem;
}

.feature1_right .card{
  border: none;
  background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

.feature1_right .card .card-body h1{
  font-weight: 700;
}

.feature1_right .card .card-body a{
  display: block;
}


/* ==== VIDEO-DESCRIPTION */

#video_description{
  background-image: url(/FAHUF/sch-ch-alone.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: initial;
  padding: 0;
  height: 70%;
  width: 100%;
  position: relative;
  margin-top: 3rem;
}


.video_description-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000214e0;
  width: 100%;
  height: 100%;
}

.video_button h1{
  font-size: 7rem;
  color: var(--color-white);
}

/* ====== CAUSES  ======= */


#causes{
  background-image: url(/body-bg/Sprinkle1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
}
.causes_title{
  text-align: center;

}

.causes_title h1{
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--color-bg3);
}
.causes_title .highlight{
  color: #eb0000;
}

.causes_title p{
  font-weight: 300;
  padding: 0 12rem;
  font-size: 1rem;
  color: var(--color-bg3);
}

.cause_container{
  margin-top: 3rem;
  /* background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 1.4rem; */
}

.col .cause{
  border: 1px solid var(--color-bg1);
  box-shadow: 0 0 17px #000ea865;
  transition: var(--transition);


}


.col .cause:hover{
  background: var(--color-bg2);
}

.col .cause .cause_img img{
  height: 12rem;
}

/* .col .cause .cause_description{
  padding: 1rem;
  background:rgba(255, 255, 255, 0.103);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
} */

.col .cause .cause_description h5, .col .cause .cause_description p{
  color: var(--color-white);
}



/* ==== VOLUNTEER ===== */

.volunteer_left{
  background-image: url(/FAHUF/IMG-20230526-WA0005.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.volunteer_video{
  background: var(--color-bg1);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunteer_video i{
  font-size: 5rem;
  color: var(--color-white);
  background: var(--color-text);
  border-radius: 50%;
  animation: animatePlayButton infinite;
}

@keyframes animatePlayButton{
  0%{
    transform:scale(0.9); color: var(--color-white);
  }
  100%{
    transform: scale(1.2); color: var(--color-text);
   
  }
}
.volunteer_right {

  padding: 2rem;
  
}

.volunteer_right p{
  font-size: 1.1rem;
  font-weight: 700;
}

.volunteer_right span{
  font-weight: 700;
  font-size: 1.2rem;
}

.volunteer_right h1 {
  font-weight: 700;
  padding-right: 12rem;
}

form{
  margin-top: 1.5rem;
  padding-right: 9rem;
  background: rgba(255, 255, 255, 0.356);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

form .row input{
  background: transparent;
}

form textarea{
  background: transparent;
}

/* = EVENTS==== */
#events{
 
 position: relative;
}

#events_mobile{
  display: none;
}
#events::before{
  content: "";
  width: 34%;
  height: 80%;
  background: var(--color-bg1);
  position: absolute;
  top: 4rem;
  left: 7rem;
  border-bottom-right-radius: 2rem;
  z-index: -1;
}

#events .events_heading{
  text-align: center;
  margin-bottom: 2rem;
}

#events .events_heading h1{
  font-weight: 700;
}

.event_left .event img{
  border-radius:3px;
  height: 100%;
}

.event_right .card{
  padding: 1.7rem;
  position: relative;
  background: rgba(241, 241, 241, 0.719);
  border: none;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.event_right .card .date{
  position: absolute;
  background: var(--color-bg4);
  padding: 0.2rem 0.7rem;
  text-align: center;
  right: 0;
  top: 0;
}
.event_right .card .date2{
  position: absolute;
  background: var(--color-bg1);
  padding: 0.2rem 0.7rem;
  text-align: center;
  right: 0;
  top: 0;
}
.event_right .card .date2 p{
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}
.event_right .card .date p{
  margin: 0;
  padding: 0;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
}

.event_right .card .event_text p{
  margin-bottom: 8px;
}

.event_right .card .event_text h5{
  font-weight: 600;
}


/* ===== PARTNERS === */
#partners{
  background: var(--color-bg3);
  padding: 3rem 0;
  background-image: url(/body-bg/Sprinkle1.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

#partners .partner_heading{
  text-align: center;
  margin-bottom: 2rem;
}

#partners .partner_heading h1{
  color: var(--color-white);
  font-weight: 700;
}

#partners .partner_heading .highlight{
  font-weight: 700;
  color: var(--color-bg4);
}

#partners .partner_heading .icon {
  color: var(--color-text);
}

.partner_container{
  text-align: center;
}

.partner_container .partners{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.partners li i{
  font-size: 5rem;
  color: var(--color-offWhite);
}

/* ===== FOOTER ==== */

footer{
  padding: 2rem;
  background: var(--color-black);
}
.footer_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.footer_1{
  display: flex;  
  flex-direction: column;
  gap: 0.5rem;
}


.footer_1 h5{
  color: var(--color-text);
  font-weight: 600;
  font-size: 2rem;
}

.footer_1 p{
  color: var(--color-white);
  font-weight: 300;
  font-size: 1rem;
}

.footer_1 span i{
  font-size: 1.5rem;
  color: var(--color-text);
  margin-right: 0.5rem;
  font-weight: 700;
}
.footer_socials{
  display: flex;
  gap: 1rem;
}

.footer_socials a i{
  color: var(--color-bg4);
  font-size: 2rem;

}

.footer_2 h5, .footer_3 h5, .footer_4 h5{
  color: var(--color-text);
  font-size: 1.3rem;
  font-weight: 600;
}

/* .footer_2{
  text-align: center;
} */

.footer_2 .pages{
  padding: 0;
}

.footer_2 .pages li a{
  color: var(--color-white);
  font-size: 1rem;
  transition: var(--transition);
  text-align: left;
}
.footer_2 .pages li a:hover{
  color: var(--color-text);
}

/* .footer_3{
  text-align: center;
} */

.footer_3 .fundraise{
  padding: 0;
  margin: 0;
}

.footer_3 .fundraise li a{
  color: var(--color-white);
  font-size: 1rem;
  transition: var(--transition);
  text-align: start;
}

.footer_3 .fundraise li a:hover{
  color: var(--color-text);
}

.footer_4 p{
  color: var(--color-white);
  font-size: 1rem;
}








/* -============= MEDIA-QUERY (TABLET) ============= */

@media screen and (max-width:1024px){
  h1{
    font-size:2rem ;
  }
  h2{
    font-size: 1.7rem;
  }
  h3{
    font-size: 1.4rem;
  }
  h4{
    font-size: 1.2rem;
  }
  p{
    font-size: 0.9rem;
  }


  section > h1 {
    font-size: 2rem;
  }

  .btn-small  {
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    padding: 0.4rem 0.7rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }

  .btn-small:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white); 
   }


  .btn{
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
  }
  
  .btn:hover{
   background: transparent;
   color: var(--color-white);
   border-color: var(--color-white); 
  }


  
  .btn-primary{
    background: var(--color-bg4);
    color: var(--color-white);
    
  }

  .btn-primary:hover{
    border-color: var(--color-bg4);
    color: var(--color-bg4);
  }
  .btn-secondary{
  background: var(--color-bg1);
  color: var(--color-white);
  border-color: var(--color-bg1);
  border: 1px solid var(--color-bg1);
  }

  .btn-outline{
    color: var(--color-black);
    background: transparent;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
    border-radius: 0.5rem;
  }

  .btn-outline:hover{
    background: transparent;
    color: var(--color-white);
    border-color: var(--color-white); 
  }

  .btn-outline-secondary{
    background: transparent;
    color: var(--color-bg4);
    border-color: var(--color-bg4);
  }

  .btn-outline-secondary:hover{
    background: var(--color-bg4);
    color: var(--color-white);
    border-color: var(--color-bg4);
  }






  /*  ====== NAVBAR ======= */


  .navbar-nav{
    background: var(--color-bg3);
    padding-left: 2rem;
    padding-bottom: 2rem;
  }


  /* ===HEADER === */
  #header .header_icons{
    right: 0;
  }

  #header{
    height: 100vh;
  }


  /*  ==== FEATURE ====== */

  #feature1::before{
    content: "";
    width: 34%;
    height: 60%;
    background: var(--color-bg1);
    position: absolute;
    top: 2rem;
    left: 0;
    border-bottom-right-radius: 2rem;
  }



  /*  ==========CAUSES=========== */

  .causes_title p{
    padding: 0 5rem;
    font-size: 0.9rem;
  }


  /*   ====  VOLUNTEER  ======= */

  .volunteer_left{
    background-size: cover;
    background-repeat: none;
  }

  .volunteer_right h1{
    padding-right: 1.5rem;
  }

  form{
    padding-right: 1.5rem;
  }


  /* ===   EVENTS  ====== */
  #events::before{
    content: "";
    width: 34%;
    height: 50%;
    background: var(--color-bg1);
    position: absolute;
    top: 6rem;
    left:0;
    border-bottom-right-radius: 2rem;
    z-index: -1;
  }

  /*   FOOTER  */

  .footer_container{
    display: grid ;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}











/* -============= MEDIA-QUERY (PHONES) ============= */

@media screen and (max-width:600px){
  h1{
    font-size: 1.3rem;
    margin-bottom: 0;
  }

  h4{
    font-size: 0.9rem;
  }
  h5{
    font-size: 0.9rem;
  }
  small{
    font-size: 0.7rem;
  }
  p{
    font-size: 0.7rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  a{
    font-size: 0.7rem;
  }
  section{
    padding: 0;
    margin:2rem 0;
  }
  nav{
    z-index: 99;
  }

  .btn{
    color: var(--color-black);
    background: var(--color-white);
    display: inline-block;
    padding: 0.2rem 0.6rem;
    border: 1px solid transparent;
    font-weight: 300;
    font-size: 0.7rem;
    transition: var(--transition);
  }
  
  .btn:hover{
   background: transparent;
   color: var(--color-white);
   border-color: var(--color-white); 
  }


  
  .btn-primary{
    background: var(--color-bg4);
    color: var(--color-white);
    
  }

  .btn-primary:hover{
    border-color: var(--color-bg4);
    color: var(--color-bg4);
  }
  .btn-secondary{
  background: var(--color-bg1);
  color: var(--color-white);
  border-color: var(--color-bg1);
  border: 1px solid var(--color-bg1);
  }

  nav{
    height: 3.5rem;
  }

 .navbar-nav .nav-item .nav-link{
    font-size: 0.7rem;
    padding: 0;
  }

  .dropdown .dropdown-menu .dropdown-item{
    font-size: 0.7rem;
    padding: 0;
  }

  .navbar-brand{
    font-size: 1.3rem;
  }

  .header_icons {
    gap: 0;
    height: 7.8rem;
    display: flex;
    width: 2.1rem;
    flex-direction: column;
    gap: 0.1rem;
  }

  .header_icons a{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    right: 0;

  }

  #header{
   background-image: url(/FAHUF/group-photo.jpg);
   height: 100vh;
  }

  .header_text {
    text-align: center;
    width: 100%;
    margin-top: 4rem;
  }

  .header_text h1{
    font-size: 2.5rem;
  }

  .header_text  p{
    font-size: 0.8rem;
    margin-bottom: 0.6rem;
    color:var(--color-bg3);
  }

  .header_text .btn-secondary, .header_text .btn-primary{
    margin-bottom: 0.6rem;
    width: 50%;
  }


  .about_right .row .col .card{
    padding-left: 0.5rem;

  }

  .about_right .row .col .card-bottom h4{
    font-size: 0.9rem;
  }

  #feature1::before{
    content: "";
    width:70%;
    height: 55%;
    background: var(--color-bg1);
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 2rem;
  }

  #causes{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .causes_title p{
    padding: 0 1rem;
    font-size: 0.8rem;
  }

  .cause .cause_img img{
    height: 10rem;
  }

  .cause_description {
    padding:0.2rem;
  }


  #events{
    display: none;
  }

  #events_mobile{
    display: block;
  }

  #events_mobile .events_heading h1{
    text-align: center;
    margin-bottom: 1.4rem;
    font-weight: 700;
  }
  .volunteer_left{
    height: 57vh;
  }

  form{
    padding: 0;
  }
  textarea, input{
    border-width: 1px;
    padding: 0;
    font-size: 0.8rem;
  }

  #events{
    padding-top: 2rem;
  }


  #events::before{
    content: "";
    width: 79%;
    height: 40%;
    background: var(--color-bg1);
    position: absolute;
    top: 4rem;
    left:0;
    border-bottom-right-radius: 2rem;
    z-index: -1;
  }

  .event{
    padding:0.5rem;
  }

  #partners{
    padding: 1.5rem 0 0 0;
    margin: 0;

  }
  .partners{
    padding: 0;
    margin: 0;
  }



  .partner_heading h1 {
    margin: 0;
    padding: 0;

  }

  .partners  li i{
    font-size: 2rem;
    line-height:0.9;
  }
  footer{
    padding: 2rem 0 0.3rem 0.2rem;
  }
  .footer_container{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 2rem;
  }

  .footer_container p{
    font-size: 0.7rem;
    margin: 0;
  }

  .footer_container a{
    font-size: 0.7rem;
  }

  .footer_1 h5{
    font-size: 1rem;
    margin-bottom: 0.1rem;
  }

  .footer_socials a i{
    font-size: 1rem;
  }

  .footer_2 h5{
    font-size: 1rem;
  }

  .footer_2 .pages li a{
    font-size: 0.7rem;
  }

  .footer_3 h5{
    font-size: 1rem;
  }

  .footer_3 .fundraise li a{
    font-size: 0.7rem;
  }

  .footer_4 h5{
    font-size: 1rem;
  }

}


/* -============= MEDIA-QUERY (PHONES) ============= */

@media screen and (max-width:340px){
  .navbar-brand{
    margin-right: 3rem;
  }


  #header{
    height:100vh;
  }

  
  .header_text {
    text-align: center;
    width:100%;
  }

  .header_text h1{
    font-size: 2.5rem;
  }

  .header_text  p{
    font-size: 0.8rem;
    color:var(--color-bg3);
  }
  .header_text .btn-secondary, .header_text .btn-primary{
    width: 50%;
    margin-left: 4.5rem;
  }

  .medals_container{
    margin-top: 0;
    padding: 0;
    display: none;
  }
  .medal_card{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
  }

  .header_text a{
    display: block;
    width: 39%;
    margin: 1rem 0;
  }
}