.blog_page{
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/bg/bg4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100vw;
  height: 90vh;
}


/* BLOG */


.blogs{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='900' height='300' preserveAspectRatio='none' viewBox='0 0 900 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2602%26quot%3b)' fill='none'%3e%3crect width='900' height='300' x='0' y='0' fill='rgba(0%2c 2%2c 20%2c 1)'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsG2608' transform='translate(0%2c 0)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2602'%3e%3crect width='900' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cg id='SvgjsG2607'%3e%3cpath d='M2.08 12.59C-0.65 9.33-0.23 4.46 3.04 1.72 6.29-1.01 11.17-0.59 13.9 2.67S16.21 10.81 12.95 13.54c-3.26 2.74-8.14 2.31-10.87-0.95z m1.46-1.23c2.06 2.45 5.73 2.78 8.19 0.72 2.45-2.06 2.77-5.73 0.71-8.18-2.06-2.45-5.73-2.77-8.18-0.72-2.46 2.06-2.78 5.73-0.72 8.18z'%3e%3c/path%3e%3cpath d='M7.24 8.32a0.57 0.57 0 0 1-0.33-0.45 0.58 0.58 0 0 1 0.14-0.46L10.48 4.52a0.58 0.58 0 0 1 0.75 0.89l-2.66 2.24 2.98 1.38a0.58 0.58 0 0 1 0.29 0.77c-0.13 0.29-0.48 0.42-0.77 0.28l-3.83-1.76z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2605'%3e%3cpath d='M2.9 12.28l8.32 0.73c2.59 0.23 4.61-1.52 4.81-3.87A4.27 4.27 0 0 0 12.15 4.52a4.26 4.26 0 0 0-3.86-4.64C5.93-0.32 3.85 1.38 3.64 3.96L2.9 12.28z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2603'%3e%3cpath d='M12.58 4.16C9.89 0.95 5.75 0 3.33 2.02c-1.18 0.99-1.73 2.52-1.67 4.19l-2.62 2.21 3.92 1.88c0.25 0.41 0.54 0.82 0.87 1.2 2.69 3.21 6.83 4.16 9.25 2.13 2.42-2.03 2.19-6.27-0.5-9.47zM5.23 6.16a1.07 1.07 0 1 1 1.64-1.38 1.07 1.07 0 0 1-1.64 1.38z m2.05 2.44a1.07 1.07 0 1 1 1.64-1.37 1.07 1.07 0 0 1-1.64 1.37z m2.02 2.4c-0.38-0.45-0.32-1.12 0.13-1.5s1.12-0.32 1.51 0.13 0.32 1.12-0.13 1.51a1.07 1.07 0 0 1-1.51-0.14z'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2606'%3e%3cpath d='M6.51 14.05L1.29 7.83 9.41 1.02l5.21 6.22-8.11 6.81z m-3.79-2.12a0.46 0.46 0 1 1 0.7-0.58 0.46 0.46 0 0 1-0.7 0.58zM12.45 2.86l0.9 1.07c0.13 0.15-0.15 0.38-0.28 0.23l-0.9-1.07c-0.13-0.15 0.14-0.38 0.28-0.23zM16.06 5.8L11.08-0.14C10.87-0.39 10.42-0.37 10.09-0.1L0.07 8.31c-0.33 0.27-0.43 0.71-0.21 0.96l4.98 5.94c0.21 0.25 0.66 0.24 0.99-0.04L15.85 6.76c0.33-0.28 0.42-0.71 0.21-0.96z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2604'%3e%3cpath d='M2 6.13L1.99 6.12l-1.92 1.61c0.67 0.19 4.08 1.29 4.47 1.47l2.85 3.39c0.98 1.17 2.73 1.32 3.9 0.34L15.69 9.23A2.77 2.77 0 0 0 16.02 5.34l-5.18-6.18c-0.98-1.17-2.72-1.33-3.9-0.34l-4.4 3.69a2.77 2.77 0 0 0-0.54 3.62z' fill-rule='evenodd'%3e%3c/path%3e%3c/g%3e%3cg id='SvgjsG2608'%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(0%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(0%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(0%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2605' transform='translate(0%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2605' transform='translate(93%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(93%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(93%2c 186) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(93%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(186%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(186%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(186%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2607' transform='translate(186%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(279%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2605' transform='translate(279%2c 93) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(279%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(279%2c 279) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(372%2c 0) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2607' transform='translate(372%2c 93) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(372%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(372%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(465%2c 0) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(465%2c 93) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(465%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(465%2c 279) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(558%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2607' transform='translate(558%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(558%2c 186) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(558%2c 279) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(651%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2605' transform='translate(651%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(651%2c 186) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(651%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2607' transform='translate(744%2c 0) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(744%2c 93) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2604' transform='translate(744%2c 186) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2607' transform='translate(744%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2605' transform='translate(837%2c 0) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2606' transform='translate(837%2c 93) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(837%2c 186) scale(3)' fill='rgba(235%2c 0%2c 0%2c 0.59)'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsG2603' transform='translate(837%2c 279) scale(3)' fill='rgba(0%2c 14%2c 168%2c 0.55)'%3e%3c/use%3e%3c/g%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1rem;
  margin: 0;
}

.blogs .blog_title{
  text-align: center;
  margin-bottom: 4.5rem;
  margin-top: 2rem;
}

.blogs .blog_title h1{
  font-weight: 700;
  color: var(--color-white);
}

.blog_container .blog {
  box-shadow: 0 0 44px #000ea8;
  background:rgba(255, 255, 255, 0.377);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
}

.blog_container .blog .blog_img img{
  height: 80%;
  width: 100%;
}

.blog_container .blog .blog_details{
  padding:0.5rem;
}

.blog_container .blog .blog_details .blog_body h5{
  font-weight: 700;
  color: var(--color-white);

}

.blog_container .blog .blog_details .blog_body p{
  color: var(--color-white);
}

.blog_container .blog .blog_details .blog_footer{
  display: flex;
  gap: 0.7rem;
  justify-content: space-between;
}

.blog_container .blog .blog_details .blog_footer p{
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--color-white);
}

.blog_container .blog .blog_details .blog_footer span i{
  color: var(--color-bg4);
  font-size: 1.1rem;
 
}


/* -============= MEDIA-QUERY (TABLET) ============= */

@media screen and (max-width:1024px){
  .aboutPage_container{
    padding-top: 9rem;
  }

  .aboutPage_header h1{
    font-size: 3.3rem;
  }

  .aboutPage_header p{
    font-size: 1rem;
    font-weight: 500;
    padding: 0 2rem;
  }

  .blog_container .blog .blog_img img{
    height: 60%;
    width: 100%;
  }
}


@media screen and (max-width:600px){

  .blog_page{
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/bg-potraits/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    margin: 0;
    padding: 0;
  }

  .aboutPage_container{
    padding-top: 9rem;
  }
  .aboutPage_header h1{
    font-size: 4rem;
  }
  .aboutPage_header p{
    font-weight: 300;
    font-size: 0.9rem;
    padding: 0 0.3rem;
  }


  .blog_container .blog .blog_details .blog_body h5{
    font-weight: 500;
    color: var(--color-white);
  
  }

  .blog_container .blog .blog_details .blog_footer p{
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--color-white);
  }
  
  .blog_container .blog .blog_details .blog_footer span i{
    color: var(--color-bg4);
    font-size: 0.9rem;
   
  }

  .blog_container .blog .blog_img img{
    height: 12rem;
    width: 100%;
  }

}